[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-socketio = "*"
aiohttp = "*"
pyais = "*"
janus = "*"
aiohttp-index = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
